<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <section class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <b><p>GARBAGE CLASSIFICATION</p></b>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">contact Us</a></li>
                    <li><a href="file" class="but">Image Prediction</a></li>
                </ul>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="call">
                <div class="tit">
                    <h4>ABOUT PROJECT</h4>
                </div>
                <div class="frame">
                <div class="tab">
                    <h5>Problem:</h5>
                    <p>" With the increase in the number of industries in the urban area,the disposal of the solid waste is really becoming a big problem, and the solid waste includes paper, wood, plastic, metal, glass etc. The common way of managing waste is burning waste and this method can cause air pollution and some hazardous materials from the waste spread into the air which can cause cancer. Hence it is necessary to recycle the waste to protect the environment and human beings’ health, and we need to separate the waste into different components which can be recycled using different ways.
                    </p>
                </div>
                <div class="tab1">
                    <h5>Solution:</h5>
                    <p>".</p>
                    <button class="ler">
                        <a href="#">Learn more</a>
                    </button>
                </div>
            </div>
            </div>
        </div>