<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
</head>
<body>
    <section class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <b><p>GARBAGE CLASSIFICATION</p></b>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">contact Us</a></li>
                    <li><a href="file" class="but">Image Prediction</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="call">
                <div class="tit">
                    <h4>CONTACT US</h4>
                </div>
            </div>
        </div>
        <div class="addr">
            <h5>Our Address</h5>
            <p>Plot.No 132,2nd Floor,Above DCB Blank HMT Nagar,Chennai-500076</p>
        </div>
        <div class="div-con">
        <div class="email">
            <h5>&#9993 Email Us</h5>
            <p>ranjanidr12@gmail.com</p>
        </div>
        <div class="coll">
            <h5>&#9742 Call Us</h5>
            <p>+91 770843325</p>
        </div>
        </div>
        <footer>
            <div class="footercontainer">
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-google-plus"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">contact Us</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </div>
                </div>
                <div class="footerBottom">
                    <p>Copyright &copy;2023; Designed by <span class="designer">KELVIN</span></p>
                </div>  
        </footer>