<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="contents">
    <section class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <b><p>GARBAGE CLASSIFICATION</p></b>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">contact Us</a></li>
                    <li><a href="file" class="but">Image Prediction</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <div class="row">
                <div class="left-sec">
                    <div class="content">
                        <h3>Welcome to Garbage Classification</h3><br>
                    </div>
                    <div>
                        <button class="discover-btn">
                            <a href="#">Read more</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    </body>
</html>