<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <section class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <b><p>GARBAGE CLASSIFICATION</p></b>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">contact Us</a></li>
                    <li><a href="file" class="but">Image Prediction</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="call">
                <div class="tit">
                    <h4>PREDICTED OUTPUT</h4>
                </div>
        <img src="hh.jpeg" class="image">
        <div class="sin">
            <div class="content">
                <h2>Predicted Image is: TRASH
                </h2><br>
                 </div>
                 </div>