<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Garbage Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="garbage">
        <section class="header" id="header">
            <div class="nav-bar">
                <div class="logo">
                    <b><p>GARBAGE CLASSIFICATION</p></b>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="" class="active">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">contact Us</a></li>
                    <li><a href="file" class="but">Image Prediction</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="call">
                    <div class="tit">
                        <h4>IMAGE PREDICTION</h4>
                    </div>
                    <div class="sin">
                        <div class="content">
                            <h3>Please Upload the Image:</h3><br>
                        </div>
                        <form method="POST" action="predict" enctype="multipart/form-data">
                            <div class="choose">
                                <input type="file" name="image" class="upload-box" accept="image/*" />
                            </div>
                            <div>
                                <button type="submit" class="btn">PREDICT</button>
                            </div>
                        </form>
                        <img src="{{ url_for('static', filename='ch.jpeg') }}" class="image">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
